body {
  /* Настройки отображения фона */
  background-size: cover;
  background-attachment: fixed; /* Фиксированный фон */
  background-position: center; /* Центрирование фона */
  height: 100vh; /* Высота на всю страницу */
}

.page {
  background-color: var(--color-background);
  background-image: repeating-linear-gradient(
      90deg,
      var(--repeating-gradient) 0 2px,
      transparent 2px 4px
    ),
    repeating-linear-gradient(
      var(--repeating-gradient) 0 2px,
      transparent 2px 4px
    ),
    linear-gradient(var(--linear-gradient-light), var(--linear-gradient-dark));
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  font-variation-settings: "wght" var(--text-wight);
  line-height: normal;
}

.header {
  width: 700px;
  height: 368px;
  margin-top: 100px;
  margin-right: auto;
  margin-bottom: 100px;
  margin-left: auto;
  border: 2px solid var(--color-accent);
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  font-family: var(--family-accent);
  background-color: var(--color-background);
}

.header__title {
  margin-block-end: 20px;
  font-size: var(--size-logo-header);
  text-transform: uppercase;
}

.header__project_name {
  font-size: var(--size-title-header);
  text-transform: uppercase;
}

.story__list {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.story {
  margin-block-end: 50px;
  border: 2px solid var(--color-accent);
  background-color: var(--color-background);
  max-inline-size: 704px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__title {
  margin: 3px 10px 3px 10px;
  color: var(--color-accent);
  font-family: var(--family-main);
  font-variation-settings: "wght" var(--subtitle-wight);
  font-size: 18px;
  line-height: 1.21;
  padding-top: 3px;
}

.card__content {
  position: relative;
  border-block-end: 2px solid var(--color-accent);
  border-block-start: 2px solid var(--color-accent);
  max-inline-size: 696px;
  aspect-ratio: 1 / 1;
  box-sizing: content-box;
  overflow: hidden;
}

.logo {
  position: absolute;
  top: 29px;
  right: 26px;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  text-shadow: 0 1px, 1px 0, 0 -1px, -1px 0 / var(--color-background);
  font-family: var(--family-accent);
  font-weight: var(--text-weight);
  font-size: 14px;
  line-height: 14px;
  color: var(--color-accent);
}

.card__image {
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  block-size: 100%;
}

.filter___preparation_for_work {
  filter: blur(5px) contrast(70%) brightness(85%) \grayscale(20%);
  animation: flicker 10s infinite alternate;
}

@keyframes flicker {
  0% {
    filter: blur(6px) contrast(40%) brightness(80%);
  }
  100% {
    filter: blur(1px) contrast(75%) brightness(90%);
  }
}

.filter__ready-to-learn {
  filter: brightness(115%) /* Символ чистоты и незаполненности */ contrast(90%)
    /* Лёгкая мягкость для восприятия нового */ saturate(110%); /* Готовность к "впитыванию" цвета знаний */
  transition: filter 2s ease;
  position: relative;
  animation: knowledge-flow 10s infinite alternate;
}

@keyframes knowledge-flow {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.05;
  }
}

.filter__doubts {
  filter: saturate(30%) sepia(400%);
  position: relative;
  animation: doubts-flow 10s infinite alternate;
}

@keyframes doubts-flow {
  0% {
  }
  100% {
    transform: scale(1.4);
  }
}

.filter__ideal {
  filter: contrast(10%) saturate(10%);
  position: relative;
  animation: ideal-flow 10s infinite alternate;
}

@keyframes ideal-flow {
  0% {
    filter: saturate(100%);
  }
  100% {
    filter: saturate(500%);
  }
}

.filter__together {
  filter: invert(100%);
  position: relative;
}

.filter__pathfinder {
  filter: hue-rotate(45deg) /* Сдвиг восприятия реальности */ contrast(1.3)
    /* Усиление детализации проблем */ brightness(1.1)
    /* Подсветка скрытых возможностей */;

  animation: pathfinder 3s infinite alternate;
}

@keyframes pathfinder {
  0% {
    filter: hue-rotate(-25deg) blur(1px);
  }
  100% {
    filter: hue-rotate(70deg) blur(0);
  }
}

.filter__depressed {
  filter: brightness(0.7) /* Приглушение света - символ угасания надежды */
    contrast(0.8) /* Снижение контраста - метафора потери ясности */
    grayscale(60%) /* Обесцвечивание - уход жизненных красок */ blur(2px); /* Размытие фокуса - неспособность ясно видеть цель */
}

.card__article {
  margin: 27px auto 25px;
  max-inline-size: 646px;
}

.card__text {
  color: var(--color-accent);
  font-family: var(--family-main);
  font-variation-settings: "wght" var(--text-wight);
  font-size: 18px;
  line-height: 21px;
}

.card__text:first-child {
  margin-block-end: 27px;
}

.card__button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  margin-block-start: 25px;
}

.button__text {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-hover);
  position: relative;
  z-index: 1;
}

.button {
  position: relative;
  border: 2px solid var(--color-accent);
  overflow: hidden;
  font-family: var(--family-accent);
  font-weight: var(--text-wight);
  font-size: 14px;
  line-height: 12.6px;
  background-color: var(--color-background);
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.button::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: var(--color-accent);
  transition: transform 0.5s ease-in-out;
  transform: translateX(-100%);
  z-index: 0;
}

.button:hover::after {
  transform: translateX(0);
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  box-shadow: 2px 2px 0 var(--color-accent);
}

.card__icon-button {
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
  cursor: pointer;
  appearance: none;
}

.heart {
  transform-origin: center center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--color-accent);
}

.card__like-button {
  inline-size: 130px;
  block-size: 38px;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s 1 alternate ease-in 0.1s;
}

.like-icon.is-liked .contour {
  opacity: 1;
  fill: var(--color-sparks);
  transition: fill 0.3s linear 0.06s;
}

.like-icon .contour {
  fill: currentColor;
  transition: fill 0.1s linear;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 1 alternate ease-in 0.3s;
}

.main-body {
  opacity: 0;
  fill: currentColor;
  transition: opacity 0.3s linear;
}

.like-icon:hover .main-body {
  opacity: 1;
  fill: currentColor;
  transition: opacity 0.3s linear 0.05s;
}

.like-icon:active .main-body {
  fill: var(--color-sparks);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .main-body {
  opacity: 1;
  fill: var(--color-sparks);
  transition: fill 0.3s linear 0.05s;
}

.core {
  opacity: 0;
  fill: currentColor;
  transition: opacity 0.3s linear 0.03s;
}

.like-icon:hover .core {
  fill: currentColor;
  opacity: 1;
  transition: opacity 0.3s linear;
}

.like-icon:active .core {
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.like-icon.is-liked .core {
  opacity: 1;
  fill: var(--color-sparks);
  transition: fill 0.3s linear;
}

.footer {
  display: flex;
  padding-bottom: 100px;
  min-block-size: 55px;
  justify-content: center;
}

.button__save {
  inline-size: 335px;
  margin-block-end: 103px;
  block-size: 51px;
}

.footer__floppy {
  position: relative;
  mix-blend-mode: difference;
  color: var(--button-hover);
  z-index: 1;
}

@media (width <= 600px) {
  .header__title {
    font-size: var(--size-logo-header-mobile);
  }

  .header__project_name {
    font-size: var(--size-title-header-mobile);
  }
}

.sparks {
  opacity: 0;
}
@media (width <= 376px) {
  .header {
    max-inline-size: 371px;
    min-block-size: 323px;
  }

  .card__title {
    margin: 4px 10px 6px 10px;
    padding: 0;
  }

  .card__content {
    max-inline-size: 371px;
  }

  .card__article {
    max-inline-size: 321px;
  }

  .footer__floppy {
    width: 28px;
    height: 28px;
  }

  .save__button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-block-end: 100px;
    inline-size: 306px;
    block-size: 84px;
  }
}

/*==============================================*/

.modal {
  position: fixed;
  inset: 0;
  border: 2px solid var(--color-accent);
  padding: 0;
  background-color: var(--color-background);
  max-inline-size: max(100%, 357px);
  min-inline-size: 293px;
}

.modal__button {
  grid-column: 1 / -1;
  text-transform: uppercase;
  inline-size: 100%;
  height: 38px;
}

.floppy {
  inline-size: 21px;
  block-size: 21px;
}

.modal[open] {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 30px;
  column-gap: clamp(12px, 2vw, 20px);
  padding: 30px 30px;
  color: #000;
  font-family: var(--font-accent, "Courier New", monospace);
  font-size: 0.875rem;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: var(--color-background);
  max-inline-size: 357px;
}

.modal__title {
  font-size: 14px;
  font-weight: 400;
  font-family: "PressStart2P", fantasy;
  text-transform: uppercase;
}

.floppy__modal {
  inline-size: 38px;
  block-size: 38px;
}

.modal::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}
