/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --family-main: "Inter", sans-serif;
  --family-accent: "PressStart2P", fantasy;
  --text-wight: 400;
  --subtitle-wight: 700;
  --color-background: rgba(255, 255, 255, 1);
  --color-accent: rgba(0, 0, 0, 1);
  --repeating-gradient: #d3d3d3;
  --linear-gradient-light: #e7e7e7;
  --linear-gradient-dark: #1a1a1a;
  --size-logo-header: 65px;
  --size-logo-header-mobile: 49px;
  --size-title-header: 23px;
  --size-title-header-mobile: 14px;
  /* --size-button-header: 14px; */
  --color-sparks: rgba(255, 0, 0, 1);
  --button-hover: rgba(255, 255, 255, 1);
}
